In [3]:
import pandas as pd

# Load data
df = pd.read_csv("data\salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [6]:
# Divide into Target and Independent Variables
# input is the independent variables (all except the last 'salary..' column)
inputs = df.drop('salary_more_then_100k',axis='columns')
# target is the independent variable:
target = df['salary_more_then_100k']

In [9]:
# Need to convert the labels into numbers for ML algorithm 
# !! Do this in SQL !!

from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [14]:
# create your numerical columns_n, in inputs
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])

# drop the label columns
inputs_n = inputs.drop(['company','job','degree'], axis='columns')

# should also drop the redundant numeric column (to avoid 'dummy trap') but the tutorial doesnt do that here
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [15]:
# Import and train the Decision Tree model  
from sklearn import tree
model = tree.DecisionTreeClassifier()

model.fit(inputs_n,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [16]:
# check score (will be 100% here cuz you trained it on the model your testing against, and its very simple data)
# Should be testing on TESTING dataset !! not the TRAINING !!
model.score(inputs_n,target)

1.0

In [18]:
# predict for google, sales exec, masters:
model.predict([[2,2,1]])

array([0], dtype=int64)